@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --color-hyprland: #00cfff;
  --color-debug: #ff0080;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  section {
    @apply mb-16;
  }

  input[type="text"] {
    @apply disabled:placeholder:text-current/50 disabled:cursor-not-allowed disabled:ring-0 transition-opacity disabled:opacity-35;
  }

  textarea {
    @apply disabled:placeholder:text-current/50 disabled:cursor-not-allowed disabled:ring-0 transition-opacity disabled:opacity-35;
  }

  input[type="file"] {
    @apply disabled:placeholder:text-current/50 disabled:cursor-not-allowed disabled:ring-0 transition-opacity disabled:opacity-35;
  }

  button {
    @apply disabled:opacity-35 disabled:bg-cyan-100 disabled:cursor-not-allowed transition-opacity;
  }
}

.bg-grid {
  --grid-lines-color: #12121223;

  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      var(--grid-lines-color) 1px,
      transparent 1px
    ), linear-gradient(to bottom, var(--grid-lines-color) 1px, transparent 1px);

  mask-image: linear-gradient(to bottom, white, transparent 45%);
}
