@layer base {
  section {
    @apply mb-16;
  }
}

:root {
  @theme {
    --color-hyprland: #00cfff;
    --color-debug: #ff0080;
  }
}
.dark {
  @theme {
    --color-hyprland: #00cfff;
    --color-debug: #ff0080;
  }
}

@layer base {
  .bg-grid {
    --grid-lines-color: color-mix(in srgb, var(--color-ring), transparent 50%);

    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, var(--grid-lines-color) 1px, transparent 1px),
      linear-gradient(to bottom, var(--grid-lines-color) 1px, transparent 1px);

    mask-image: linear-gradient(to bottom, white, transparent 85%);
  }
}
